.seccion-cliente {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.container-buscar-cliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 350px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.title{
   font-size: 2rem;
   font-family: sans-serif;
}

.input-buscar-cliente {
  border-radius: 10px;
  width: 400px;
  height: 50px;
}

.btn-buscar {
  height: 30px;
  width: 100px;
  border: 2px solid black;
  margin-top: 50px;
  margin-bottom: 20px;
  background: none;
  border-right: 4px solid black;
  box-shadow: 0 2px #000;
  font-weight: bold;
  cursor: pointer;
}

.ancla {
  color: blue;
}
