.sectionCatalogo {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.Bloque {
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.btnVer {
  height: 33px;
  width: 100px;
  border: 2px solid black;
  margin-top: 50px;
  margin-bottom: 20px;
  background: none;
  border-right: 4px solid black;
  box-shadow: 0 2px #000;
  font-weight: bold;
  cursor: pointer;
}
