.seccionLogin {
  background-image: url("../../assets/fondos/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.containerLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.title {
  font-size: 2.5rem;
  font-family: sans-serif;
  color: #333;
  text-align: center;
}

.inputLogin {
  border-radius: 10px;
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.btnLogin {
  height: 30px;
  width: 100px;
  border: 2px solid black;
  margin-bottom: 20px;
  background: none;
  border-right: 4px solid black;
  box-shadow: 0 2px #000;
  font-weight: bold;
  cursor: pointer;
}

.links {
  color: blue;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
}
